<header class="masthead">
  <div class="container">
    <span class="icon">✌</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">R**WTF, HTML en CSS** is een lijst vol met redenen dat je een what the fuck gezegd doen trekken. Het is een accurate lijst van algemeen frustrerende HTML en CSS dilemma's,  gemaakt met het doel om hen minder gemeen te doen lijken.</p>
    <p class="lead">Gecreerd door <a href="{{ site.twitter }}">@mdo</a>.</p>

    <p class="masthead-links">
      <a href="{{ site.repo }}">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="{{ site.twitter }}">
        <span class="icon icon-twitter"></span>
      </a>
    </p>
  </div>
</header>
